.logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #293462;
    border: 2px solid #fff;
    border-radius: 5px;
}

.logo:hover {
    color: #293462;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #293462;
    border-radius: 5px;
}

