@import url(buttons.css);

body {
    background-color: #293462;
}

.main-header {
    background-color: #D61C4E;
    padding: 40px;
}

.main-header-logo {
    padding: 30px;
    font-size: 45px;
}

.main-header-nav {
    display: inline-block;
    width: calc(100% - 178px);
}

.main-header-nav-list {
    text-align: right;
    list-style: none;
}

.main-header-nav-items {
    display: inline-block;
}

.main-header-nav-items a {
    margin: 0px 25px;
    padding: 25px;
}

.container {
    width: 100vw;
    margin: ;
}