* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    margin: 0px auto;
    
}

.logo img {
    width: 90px;
}


.main-header {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #D1512D;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    transition: .7s;
}

.navbar ul li a:hover {
    background-color: #411530;
}

nav {
    margin-right: 35%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
}

.col-3 {
    flex-basis: 33.3%;
}

.container .box {
    width: 550px;
    height: 400px;
    margin-top: 60px;
    position: relative;
}

.container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
}

.container .box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-2 h1 {
    font-size: 4rem;
    color: #76549A;
}

.col-2 span {
    font-size: 6rem;
    color: #EF5B0C;
}

.col-2 p {
    margin: 15px 0px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    color: #EF5B0C;
    border-radius: 10px;
    background-color: #411530;
    padding: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    transition: .5s;
    margin-top: 8px;
    margin-left: 60%;
}

.btn:hover {
    background-color: #76549A;
}

.section-title {
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    text-align: center;
    background-color: #D61C4E;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgba(243, 165, 186, 0.3);
    transition: all .8s;
    top: 0;
}

.card:hover {
    transform: translateY(-20px);
}

.card-body {
    padding: 30px;
}

.card-img {
    height: 30vh;
}

.card-container {
    padding: 10px;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-self: center;
}
